// main: ../style.less

.appointment {
  padding: 0 (14 / @mobile*100vw);
  margin-bottom: (96 / @mobile*100vw);
  .img {
    width: (165 / @mobile*100vw);
    height: (144 / @mobile*100vw);
  }

  form.flexbox {
    align-items: center;
  }

  .wr-flexbox {
    display: flex;
    height: auto;
    align-items: center;
    gap: (16 / @mobile*100vw);
    margin-bottom: (32 / @mobile*100vw);
    p {
      font-size: 12px;
      width: 165px;
      line-height: (20 / @mobile * 100vw);
      font-weight: normal;
    }

    span {
      width: (246 / @mobile*100vw);
      font-family: "Source Sans Pro";
      font-weight: 600;
      line-height: (20 / @mobile*100vw);
    }
  }

  .btn {
    width: (347 / @mobile*100vw);
    height: (64 / @mobile*100vw);
    border-radius: (16 / @mobile*100vw);
  }
}
