// main: ../style.less

.contacts {
  padding: (14 / @mobile*100vw);

  .map {
    width: (347 / @mobile*100vw);
    height: (320 / @mobile*100vw);
    border-radius: (24 / @mobile * 100vw);

    background-color: @color-black;

    margin-bottom: (16 / @mobile*100vw);
  }
  .wrapper {
    padding: (32 / @mobile*100vw) (24 / @mobile*100vw) (16 / @mobile*100vw)
      (24 / @mobile*100vw);
    border-radius: (24 / @mobile*100vw);
    background-color: @color-red;
    color: @color-white;
  }

  h1 {
    margin-bottom: (26 / @mobile*100vw);
  }
  h4 {
    font-family: "Source Sans Pro";
    font-weight: 600;

    font-size: (16 / @mobile*100vw);
    line-height: (32 / @mobile*100vw);
  }
  p {
    font-family: "Vela Sans";
    font-weight: 600;

    font-size: (24 / @mobile*100vw);
    line-height: (40 / @mobile*100vw);

    color: @color-white;

    margin-bottom: (16 / @mobile*100vw);
  }
}
