// main: ../style.less

.delivery {
  padding: (14 / @mobile*100vw);
  p {
    margin-bottom: (32 / @mobile*100vw);
  }

  .img {
    width: (196 / @mobile*100vw);
    height: (196 / @mobile*100vw);
    margin: 0;
    background-color: @color-red;
    float: right;
  }

  p {
    span.big {
      display: block;
      color: @color-light_grey;
      padding-top: (56 / @mobile*100vw);
      height: (146 / @mobile*100vw);
      line-height: (80 / @mobile*100vw);
      margin-bottom: (16 / @mobile*100vw);
    }
    &.diff {
      display: flex;
      align-items: flex-end;
      font-family: "garet";
      font-size: (16 / @mobile*100vw);
      line-height: (24 / @mobile*100vw);
      height: (40 / @mobile*100vw);
      color: @color-black;
      margin-bottom: (14 / @mobile*100vw);
    }
    &.text {
      display: inline-block;
      margin-bottom: (44 / @mobile*100vw);
    }
  }
}

@media (min-width: @tablet) {
  .delivery {
    padding: (22 / @tablet*100vw);
    h2 {
      margin-bottom: (16 / @tablet*100vw);
    }
    p {
      margin-bottom: (40 / @tablet*100vw);
    }

    .img {
      width: (316 / @tablet*100vw);
      height: (316 / @tablet*100vw);
    }

    p {
      span.big {
        display: block;
        color: @color-light_grey;
        padding-top: (6 / @tablet*100vw);
        height: (80 / @tablet*100vw);
        font-size: (80 / @tablet*100vw);
        line-height: (80 / @tablet*100vw);
        margin-bottom: (36 / @tablet*100vw);
      }
      &.diff {
        display: flex;
        align-items: flex-end;
        font-family: "garet";
        font-size: (32 / @tablet*100vw);
        line-height: (40 / @tablet*100vw);
        height: (40 / @tablet*100vw);
        margin-bottom: (16 / @tablet*100vw);
      }
      &.text {
        display: block;
        min-height: (142 / @tablet*100vw);
        margin-bottom: (60 / @tablet*100vw);
      }
    }
  }
}

@media (min-width: @desktop-mid) {
  .delivery {
    width: (2200 / @desktop*100vw);
    padding: 0 (200 / @desktop*100vw);
    margin-bottom: (204 / @desktop*100vw);

    .wrapper:first-child {
      min-width: (1200 / @desktop*100vw);
      display: inline-block;
      flex-direction: column;
      margin-bottom: (90 / @desktop*100vw);
    }

    .wrapper:nth-child(2) {
      display: inline-block;
      width: (459 / @desktop*100vw);
      vertical-align: top;
      padding-top: (64 / @desktop*100vw);
      p {
        color: @color-black;
      }
    }

    .wrapper:nth-child(n + 3) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 3fr 1fr 3fr;
      margin-bottom: (37 / @desktop*100vw);
    }
    h2 {
      max-width: (810 / @desktop*100vw);
      margin-bottom: (16 / @desktop*100vw);
    }
    p {
      margin-bottom: (0 / @desktop*100vw);
    }

    .img {
      display: inline-block;
      grid-column: 2;
      grid-row: 1/3;
      width: (356 / @desktop*100vw);
      height: (356 / @desktop*100vw);
      margin-right: (100 / @desktop*100vw);
    }

    p:first-child {
      display: inline-block;
    }
    p {
      display: grid;
      grid-column: 1;

      span.big {
        grid-column: 1;
        grid-row: 1/3;
        float: unset;
        width: (240 / @desktop*100vw);
        padding-top: unset;
        height: fit-content;
        font-size: (220 / @desktop*100vw);
        line-height: (226 / @desktop*100vw);
        margin-bottom: (0 / @desktop*100vw);
        margin-right: (239 / @desktop*100vw);
      }
      &.diff {
        display: flex;
        grid-column: 3;
        grid-row: 1;
        align-items: flex-end;
        font-size: (32 / @desktop*100vw);
        line-height: (40 / @desktop*100vw);
        height: fit-content;
        margin-bottom: (24 / @desktop*100vw);
      }
      &.text {
        display: inline-block;
        grid-column: 3;
        grid-row: 1/3;
        height: fit-content;
        min-height: unset;
        max-width: (459 / @desktop*100vw);
        max-height: (160 / @desktop*100vw);
        padding-top: (45 / @desktop*100vw);
        margin-bottom: 0;
      }
    }
  }
}
