// main: ../style.less

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

.details {
  margin-bottom: (40 / @mobile*100vw);
  .wrapper {
    padding: 0 (14 / @mobile*100vw);
  }
  summary {
    padding: (24 / @mobile*100vw);
    margin-bottom: (16 / @mobile*100vw);
    border-radius: (24 / @mobile*100vw);
    border: (2 / @mobile*100vw) solid @color-red;
    color: @color-red;
    p {
      color: @color-red;
      margin: 0;
      width: 75%;
      font-size: (12 / @mobile*100vw);
      font-weight: normal;
      line-height: (18 / @mobile*100vw);
    }
    h2 {
      font-size: (20 / @mobile*100vw);
      line-height: (20 / @mobile*100vw);
      margin-bottom: (12 / @mobile*100vw);
    }
  }
  .details__number {
    display: flex;
    gap: (12 / @mobile*100vw);
  }
}

details[open] {
  padding: (24 / @mobile*100vw);
  margin-bottom: (16 / @mobile*100vw);

  border-radius: (24 / @mobile*100vw);
  border: (2 / @mobile*100vw) solid @color-red;
  color: @color-red;

  summary {
    padding: 0;
    border: none;
  }
  p {
    margin: 0;
  }
}

@media (min-width: @tablet) {
  .details {
    margin-bottom: (144 / @tablet*100vw);

    .wrapper {
      padding: 0 (22 / @tablet*100vw);
    }
    summary {
      padding: (26 / @tablet*100vw) (32 / @tablet*100vw);
      margin-bottom: (20 / @tablet*100vw);
      border-radius: (24 / @tablet*100vw);
      border: (2 / @tablet*100vw) solid @color-red;

      p {
        margin-left: (80 / @tablet*100vw);
        width: 55%;
        font-size: (14 / @tablet*100vw);
        font-weight: normal;
        line-height: (24 / @tablet*100vw);
      }
      h2 {
        font-size: (20 / @mobile*100vw);
        line-height: (20 / @mobile*100vw);
        margin-bottom: (12 / @mobile*100vw);
      }
    }
    .details__number {
      display: flex;
      gap: (24 / @tablet*100vw);
    }
  }

  details[open] {
    padding: (26 / @tablet*100vw) (32 / @tablet*100vw);
    margin-bottom: (20 / @tablet*100vw);
    border-radius: (24 / @tablet*100vw);
    border: (2 / @tablet*100vw) solid @color-red;

    summary {
      padding: 0;
      border: none;
    }
    p {
      margin-left: (80 / @tablet*100vw);
    }
  }

  h2 {
    margin-bottom: (56 / @tablet*100vw);
  }
}

@media (min-width: @desktop-mid) {
  .details {
    width: (2200 / @desktop*100vw);
    padding: 0 (200 / @desktop*100vw);
    margin-bottom: (204 / @desktop*100vw);
    .wrapper {
      padding: 0;
    }

    h2 {
      display: inline-block;
      width: (1268 / @desktop*100vw);
      margin-bottom: (72 / @desktop*100vw);
    }

    summary {
      padding: (22 / @desktop*100vw) (22 / @desktop*100vw) (22 / @desktop*100vw)
        (42 / @desktop*100vw);
      margin-bottom: (46 / @desktop*100vw);
      border-radius: (24 / @desktop*100vw);
      border: (4 / @desktop*100vw) solid @color-red;

      p {
        margin: 0;
        width: fit-content;
        max-width: (466 / @desktop*100vw);
        font-size: (20 / @desktop*100vw);
        font-weight: normal;
        line-height: (32 / @desktop*100vw);
      }
      h2 {
        font-size: (32 / @desktop*100vw);
        line-height: (40 / @desktop*100vw);
        margin: 0;
      }
    }

    .summary__wrapper {
      display: flex;
      .details__number {
        display: flex;
        align-items: center;
        width: (900 / @desktop*100vw);
        gap: (113 / @tablet*100vw);

        h2 {
          max-width: fit-content;
        }
      }
    }

    details[open] {
      padding: (22 / @desktop*100vw) (22 / @desktop*100vw) (22 / @desktop*100vw)
        (42 / @desktop*100vw);
      margin-bottom: (46 / @desktop*100vw);

      border-radius: (24 / @desktop*100vw);
      border: (4 / @desktop*100vw) solid @color-red;
      color: @color-red;

      summary {
        padding: 0;
        border: none;
      }
      p {
        margin: 0;
      }
    }
  }
}
