// main: ../style.less

.footer {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: (16 / @mobile*100vw);
  line-height: (24 / @mobile*100vw);

  a {
    text-decoration: underline;
  }
  .wrapper {
    padding: 0 (14 / @mobile*100vw);
  }
  .footer__wrapper_links {
    display: flex;
    flex-direction: column;
    gap: (16 / @mobile*100vw);
    margin-bottom: (24 / @mobile*100vw);
  }

  .footer__wrapper_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: (18 / @mobile*100vw);
  }
}
