// main: ../style.less

.header {
  height: (56 / @mobile*100vw);
  z-index: 2;
  padding: 0 (14 / @mobile * 100vw);
  margin-bottom: (32 / @mobile*100vw);

  .header-wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    display: none;
  }

  .logo {
    width: (96 / @mobile*100vw);
    height: (56 / @mobile*100vw);
    background-image: url(../../img/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .menu__btn {
    width: (52 / @mobile*100vw);
    height: (32 / @mobile*100vw);
    background-color: @color-black;
    border-radius: (52 / @mobile*100vw);
    position: absolute;
    top: (24 / @mobile*100vw);
    right: (14 / @mobile*100vw);
    z-index: 105;
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    cursor: pointer;
  }

  #nav-icon2 span {
    display: block;
    position: absolute;
    background-color: @color-white;
    height: (2 / @mobile*100vw);
    width: (24 / @mobile*100vw);

    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: (14 / @mobile*100vw);
    border-radius: (2 / @mobile*100vw);
  }

  #nav-icon2 span:nth-child(odd) {
    left: (14 / @mobile*100vw);
    border-radius: (2 / @mobile*100vw);
  }

  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: (9 / @mobile*100vw);
  }

  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: (15 / @mobile*100vw);
  }

  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: (21 / @mobile*100vw);
  }

  #nav-icon2.active span:nth-child(1),
  #nav-icon2.active span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon2.active span:nth-child(2),
  #nav-icon2.active span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon2.active span:nth-child(1) {
    left: (6 / @mobile*100vw);
    top: (17 / @mobile*100vw);
  }

  #nav-icon2.active span:nth-child(2) {
    left: (6 / @mobile*100vw);
    top: (17 / @mobile*100vw);
  }

  #nav-icon2.active span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon2.active span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon2.active span:nth-child(5) {
    left: (6 / @mobile*100vw);
    top: (17 / @mobile*100vw);
  }

  #nav-icon2.active span:nth-child(6) {
    left: (6 / @mobile*100vw);
    top: (17 / @mobile*100vw);
  }
}

.menu-nav {
  display: flex;
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;

  background-color: @color-red;
  background-image: url(../../img/Logo.svg);
  background-repeat: no-repeat;
  background-position: center bottom 8%;
  background-size: (272 / @mobile*100vw) (160 / @mobile*100vw);

  z-index: 2;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: top 0.8s;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: (88 / @mobile*100vw) (75 / @mobile*100vw);

    gap: (40 / @mobile*100vw);
    width: (224 / @mobile*100vw);
    height: (320 / @mobile*100vw);

    li {
      list-style: none;
      a {
        font-family: "garet";
        color: @color-white;
        font-size: (32 / @mobile*100vw);
        text-decoration: underline;
        //text-underline-position: under;
        text-transform: uppercase;
      }

      a:hover {
        font-weight: 700;
        font-size: 3rem;
        text-underline-position: under;
      }
    }
  }

  .header-logo-img {
    display: flex;
    span {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .header-logo-ping {
    width: 14px;
    height: 14px;

    background-size: contain;
    margin-right: 1rem;
  }

  .header-location-info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;

    a {
      font-size: 4rem;
      line-height: 5rem;
      text-decoration: none;
      color: @color-black;
    }
  }
}

.menu-nav.active {
  position: fixed;
  top: 0;
  transition: top 0.8s;
  height: 100%;
  z-index: 100;
}

.menu__btn.active {
  border: 2px solid @color-white;
  background-color: @color-red;
  position: fixed;
  top: (24 / @mobile*100vw);
  right: (14 / @mobile*100vw);
  width: (40 / @mobile*100vw);
  height: (40 / @mobile*100vw);
}

@media (min-width: @tablet) {
  .header {
    height: (120 / @tablet*100vw);
    z-index: 2;
    padding: 0 (22 / @tablet*100vw);
    margin-bottom: 0;

    .logo {
      width: (162 / @tablet*100vw);
      height: (97 / @tablet*100vw);
    }

    .btn {
      display: flex;
      margin-right: (80 / @tablet * 100vw);
    }

    .menu__btn {
      width: (64 / @tablet*100vw);
      height: (40 / @tablet*100vw);

      border-radius: (26 / @tablet*100vw);
      top: (30 / @tablet*100vw);
      right: (22 / @tablet*100vw);
    }

    #nav-icon2 span {
      display: block;
      position: absolute;
      background-color: @color-white;
      height: (2.5 / @tablet*100vw);
      width: (30 / @tablet*100vw);

      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    #nav-icon2 span:nth-child(even) {
      left: (17 / @tablet*100vw);
      border-radius: (2 / @tablet*100vw);
    }

    #nav-icon2 span:nth-child(odd) {
      left: (17 / @tablet*100vw);
      border-radius: (2 / @tablet*100vw);
    }

    #nav-icon2 span:nth-child(1),
    #nav-icon2 span:nth-child(2) {
      top: (12 / @tablet*100vw);
    }

    #nav-icon2 span:nth-child(3),
    #nav-icon2 span:nth-child(4) {
      top: (18 / @tablet*100vw);
    }

    #nav-icon2 span:nth-child(5),
    #nav-icon2 span:nth-child(6) {
      top: (24 / @tablet*100vw);
    }

    #nav-icon2.active span:nth-child(1) {
      left: (14 / @tablet*100vw);
      top: (27 / @tablet*100vw);
    }

    #nav-icon2.active span:nth-child(2) {
      left: (14 / @tablet*100vw);
      top: (27 / @tablet*100vw);
    }

    #nav-icon2.active span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    #nav-icon2.active span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    #nav-icon2.active span:nth-child(5) {
      left: (14 / @tablet*100vw);
      top: (27 / @tablet*100vw);
    }

    #nav-icon2.active span:nth-child(6) {
      left: (14 / @tablet*100vw);
      top: (27 / @tablet*100vw);
    }
  }

  .menu__btn.active {
    position: fixed;
    top: (24 / @tablet*100vw);
    right: (14 / @mobile*100vw);
    width: (64 / @tablet*100vw);
    height: (64 / @tablet*100vw);
    border-radius: (64 / @tablet*100vw);
  }
}

@media (min-width: @desktop) {
  .header {
    height: fit-content;
    margin: 2.5rem auto;
    box-sizing: border-box;

    .header-wrapper {
      margin: 0 5rem 0 5rem;
      .logo {
        width: 88px;
        height: 88px;
        position: static;
        margin-top: 2.5rem;
      }

      .menu-nav {
        z-index: 2;
        position: sticky;
        display: flex;
        background-size: 0%;
        background-color: transparent;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: fit-content;
        .nav {
          height: fit-content;
          margin: 0;
        }

        ul {
          display: flex;
          width: auto;
          flex-direction: row;
          gap: 6rem;

          li {
            a {
              font-family: "Source Sans Pro";
              font-size: (20 / @desktop*100vw);
              line-height: (24 / @desktop*100vw);
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
        .header-location-info {
          display: none;
        }
      }
      ul {
        display: flex;
        gap: 6rem;
        justify-content: center;

        li {
          list-style: none;
          a {
            color: @color-black;
            font-weight: 500;
            font-style: normal;
            font-display: swap;
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-color: @color-blue;
            text-transform: none;
          }
        }
      }
    }
  }

  .header-wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  .menu__btn {
    display: none;
  }

  .header_btn {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 2;
    background: #a4b635;
    border: 2px solid #2c2c2c;
    border-radius: 12px;
    a {
      color: @color-white;
    }
  }
}
