// main: ../style.less

.produce {
  margin-bottom: (96 / @mobile*100vw);
  .wrapper {
    padding: 0 (14 / @mobile*100vw);
  }

  li {
    padding: 0 (14 / @mobile*100vw);
  }
}

@media (min-width: @tablet) {
  .produce {
    li {
      padding: 0 0 0 (22 / @tablet*100vw);
    }
    li:last-child {
      padding: 0 (22 / @tablet*100vw);
    }
  }
}

@media (min-width: @desktop-mid) {
  .produce {
    width: 100vw;
    padding: 0 (200 / @desktop*100vw);
    margin-bottom: (204 / @desktop*100vw);
    .wrapper {
      padding: 0 0 0 (532 / @desktop*100vw);
      h2 {
        margin-bottom: (42 / @desktop*100vw);
      }

      p {
        width: (736 / @desktop*100vw);
        height: fit-content;
        margin-bottom: (84 / @desktop*100vw);
      }
    }
  }
}
