// main: ../style.less

.projects {
  margin-bottom: (96 / @mobile*100vw);

  .wrapper__padding,
  .wrapper__float {
    padding: 0 (14 / @mobile*100vw);
  }

  .wrapper-price-full {
    display: flex;
    width: max-content;
    span.diff {
      align-self: flex-end;
    }
  }

  .wrapper-price {
    height: (102 / @mobile*100vw);
    display: flex;

    align-items: end;
    padding: 0 (14 / @mobile*100vw);
    font-family: "garet";
    font-size: (20 / @mobile*100vw);
    line-height: (22 / @mobile*100vw);
    gap: (15 / @mobile*100vw);
  }

  .wrapper-price__number {
    height: (98 / @mobile*100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-right: (15 / @mobile*100vw);
  }

  label {
    position: relative;
    display: block;
    width: fit-content;

    border: (2 / @mobile*100vw) solid @color-red;
    border-radius: (8 / @mobile*100vw);

    padding: (8 / @mobile*100vw) (22 / @mobile*100vw);
    text-transform: uppercase;

    font-family: "garet";
    font-size: (8 / @mobile*100vw);
    line-height: (16 / @mobile*100vw);
    color: @color-red;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  input[type="radio"]:checked + label {
    background-color: @color-red;
    color: @color-white;
  }

  .projects-wrapper__radiotest {
    cursor: pointer;
    overflow: scroll;
    margin-bottom: (20 / @mobile*100vw);

    &::-webkit-scrollbar {
      display: none;
    }

    .flex-flex {
      padding: 0 (14 / @mobile*100vw);
      display: flex;
      gap: (14 / @mobile*100vw);
      width: max-content;
    }
  }
}

@media (min-width: @tablet) {
  .projects {
    margin-bottom: (144 / @tablet*100vw);

    .wrapper__padding,
    .wrapper__float {
      padding: 0 (22 / @tablet*100vw);
    }
    .wrapper__float {
      float: left;
      width: 50%;
      height: (270 / @tablet*100vw);
    }

    p {
      height: (230 / @tablet*100vw);
    }

    .wrapper {
      float: inline-end;

      h2 {
        font-size: (24 / @tablet*100vw);
        line-height: (24 / @tablet*100vw);
        margin-bottom: (16 / @tablet*100vw);
      }
    }

    .wrapper-price {
      width: fit-content;
      height: fit-content;
      display: flex;
      padding-left: (22 / @tablet*100vw);
      font-size: (36 / @tablet*100vw);
      line-height: (40 / @tablet*100vw);
      gap: (20 / @tablet*100vw);

      span {
        padding-bottom: (50 / @tablet*100vw);
      }
    }

    .wrapper-price-full {
      display: flex;
      flex-direction: column;
      width: max-content;
      span.diff {
        align-self: flex-start;
        padding-bottom: 0;
      }
    }

    .wrapper-price__number {
      height: (120 / @tablet*100vw);
      span.big {
        font-size: (120 / @tablet*100vw);
        line-height: (120 / @tablet*100vw);
        padding-bottom: 0;
      }
    }

    label {
      border: (2 / @tablet*100vw) solid @color-red;
      border-radius: (8 / @tablet*100vw);

      padding: (12 / @tablet*100vw) (28 / @tablet*100vw);
      font-size: (10 / @tablet*100vw);
      line-height: (16 / @tablet*100vw);
    }

    .projects-wrapper__radiotest {
      margin-bottom: (40 / @tablet*100vw);

      &::-webkit-scrollbar {
        display: none;
      }

      .flex-flex {
        padding: 0 (22 / @tablet*100vw);
        gap: (8 / @tablet*100vw);
      }
    }

    .swiffy-slider {
      margin-right: 22px;
      width: (362 / @tablet*100vw);
      float: right;

      li {
        margin-right: 20px;
      }
      li:last-child {
        margin: 0;
      }
    }

    .slider-nav {
      display: inherit;
      left: (253 / @tablet*100vw);
      top: (434 / @tablet*100vw);

      &::before {
        width: (56 / @tablet*100vw);
        height: (56 / @tablet*100vw);
      }
    }

    .slider-nav-next {
      &::before {
        right: (-20 / @tablet*100vw);
      }
    }
  }
}

@media (min-width: @desktop-mid) {
  .projects {
    width: (2200 / @desktop*100vw);
    margin-bottom: (204 / @desktop*100vw);

    .wrapper__padding {
      padding: 0 (200 / @desktop*100vw);

      h2 {
        display: inline-block;
        width: (1240 / @desktop*100vw);
        font-size: (64 / @desktop*100vw);
        line-height: (80 / @desktop*100vw);
        margin-bottom: (56 / @desktop*100vw);
      }
    }
    .wrapper__float {
      float: left;
      width: fit-content;
      height: fit-content;
      padding: 0 0 0 (295 / @desktop*100vw);
    }

    p {
      width: (400 / @desktop*100vw);
      height: fit-content;
      max-height: (256 / @desktop*100vw);
    }

    .wrapper {
      float: unset;

      h2 {
        width: (396 / @desktop*100vw);
        font-size: (32 / @desktop*100vw);
        line-height: (40 / @desktop*100vw);
        margin-bottom: (16 / @desktop*100vw);
      }
    }

    .wrapper-price {
      width: fit-content;
      height: fit-content;
      display: flex;
      padding: 0 0 0 (188 / @desktop*100vw);
      font-size: (36 / @desktop*100vw);
      line-height: (40 / @desktop*100vw);
      gap: (22 / @desktop*100vw);

      span {
        font-size: (50 / @desktop*100vw);
        line-height: (60 / @desktop*100vw);
        padding-bottom: 0;
      }
    }

    .wrapper-price-full {
      display: flex;
      flex-direction: column;
      width: max-content;
      span.diff {
        align-self: flex-start;
        padding-bottom: 0;
      }
    }

    .wrapper-price__number {
      height: fit-content;
      margin: 0;

      span.big {
        font-size: (200 / @desktop*100vw);
        line-height: (236 / @desktop*100vw);
        padding-bottom: 0;
      }
    }

    label {
      border: (3 / @desktop*100vw) solid @color-red;
      border-radius: (8 / @desktop*100vw);

      padding: (20 / @desktop*100vw) (44 / @desktop*100vw);
      font-size: (16 / @desktop*100vw);
      line-height: (16 / @desktop*100vw);
    }

    .projects-wrapper__radiotest {
      float: left;
      margin-bottom: auto;

      .flex-flex {
        flex-direction: column;
        padding: 0 0 0 (200 / @desktop*100vw);
        gap: (20 / @desktop*100vw);
      }
    }

    .swiffy-slider {
      margin-right: (200 / @desktop*100vw);
      width: (812 / @desktop*100vw);
      float: right;

      .slider-indicators {
        visibility: hidden;
      }

      li {
        margin-right: 20px;
      }
      li:last-child {
        margin: 0;
      }
    }

    .slider-nav {
      visibility: visible;
      display: inherit;
      left: (649 / @desktop*100vw);
      top: (632 / @desktop*100vw);

      &::before {
        width: (72 / @desktop*100vw);
        height: (72 / @desktop*100vw);
      }
    }

    .slider-nav-next {
      &::before {
        right: (-20 / @desktop*100vw);
      }
    }
  }
}
