// main: ../style.less

.sectors {
  padding: (14 / @mobile*100vw);

  background-image: url(../../img/sectors-bg.svg);
  background-size: (471 / @mobile*100vw);
  background-repeat: no-repeat;
  background-position-x: (172 / @mobile*100vw);

  .wr-flexbox {
    display: flex;
    align-items: center;
    gap: (12 / @mobile*100vw);
  }
}

@media (min-width: @tablet) {
  .sectors {
    padding: 0 (22 / @tablet*100vw);
    margin-bottom: (144 / @tablet*100vw);
    background-size: (455 / @tablet*100vw);
    background-repeat: no-repeat;
    background-position-x: (572 / @tablet*100vw);
    background-position-y: (25 / @tablet*100vw);

    .img {
      width: (362 / @tablet*100vw);
      height: (380 / @tablet*100vw);
      float: right;
    }

    p {
      display: inline-block;
      width: (377 / @tablet*100vw);
    }

    .wr-flexbox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (12 / @tablet*100vw);
      p {
        margin: 0;
      }
    }

    p.diff {
      font-size: (20 / @tablet*100vw);
      line-height: (28 / @tablet*100vw);
      color: @color-black;
    }

    span.big {
      font-size: (120 / @tablet*100vw);
    }
  }
}

@media (min-width: @desktop-mid) {
  .sectors {
    width: 100vw;
    height: (980 / @desktop*100vw);
    padding: 0 (200 / @desktop*100vw);
    margin-bottom: (122 / @desktop*100vw);
    background-size: (643 / @desktop*100vw);
    background-repeat: no-repeat;
    background-position-x: (0 / @desktop*100vw);
    background-position-y: (335 / @desktop*100vw);

    .wrapper:first-child {
      display: flex;
    }
    .wrapper:last-child {
      padding-left: (532 / @desktop*100vw);
      .wrapper {
        padding: 0;
      }
    }

    .wr-flexbox {
      gap: (16 / @desktop*100vw);
    }

    h2 {
      display: inline-block;
      width: (1268 / @desktop*100vw);
      margin-bottom: (72 / @desktop*100vw);
    }

    p {
      max-height: (216 / @desktop*100vw);
      width: (564 / @desktop*100vw);
    }

    .img {
      width: (613 / @desktop*100vw);
      height: (552 / @desktop*100vw);
      float: right;
    }

    p.diff {
      font-size: (32 / @desktop*100vw);
      line-height: (40 / @desktop*100vw);
    }

    span.big {
      font-size: (200 / @desktop*100vw);
      line-height: (236 / @desktop*100vw);
    }
  }
}
