.banner#top
    .wrapper
        h1 Карельский завод 
            span.red металло-конструкций
        .img
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    .btn
        a(href="№") Наши продукты