.delivery
    .wrapper
        h3 Доставка товара
        h2 Доставка товара
            br
            |по всей территории
            br
            |России
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    .wrapper
        .wr-flexbox
            .wr-flex-vert
                p
                    span.big 1/
                p.diff Автомобилем
            .img
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        .wr-flexbox
            .wr-flex-vert
                p
                    span.big 2/
                p.diff Железной дорогой
            .img
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        .wr-flexbox
            .wr-flex-vert
                p
                    span.big 3/
                p.diff Самовывоз
            .img
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    
