.details
    .wrapper
        h3 Наша продукция
        h2 Продукция выполняется из лучших металлов, в нашем штате работают только профессионалы своего дела
        details 
            summary
                .summary__wrapper
                    .details__number
                        h2
                            span.grey 01
                        h2 Продукция номер 1
                    .details__info
                        p Задача организации, в особенности же дальнейшее развитие форм деятельности
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil pariatur eligendi at vel voluptas quo impedit ad ab, maiores exercitationem dolore nulla necessitatibus repudiandae illum soluta atque eaque non quam?
        details 
            summary
                .summary__wrapper
                    .details__number
                        h2
                            span.grey 02
                        h2 Продукция номер 2
                    .details__info
                            p Задача организации, в особенности же дальнейшее развитие форм деятельности
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam necessitatibus rem doloribus, dolor deserunt similique, aperiam reprehenderit architecto eum sed laboriosam, enim assumenda. Unde laborum sed esse praesentium animi eaque? Explicabo illum nam ab magnam? Voluptate quidem autem asperiores, velit, ad cupiditate vel, iusto est at iure pariatur aliquam sunt?
        details 
            summary
                .summary__wrapper
                    .details__number
                        h2
                            span.grey 03
                        h2 Продукция номер 1
                    .details__info
                        p Задача организации, в особенности же дальнейшее развитие форм деятельности 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dicta.
        details 
            summary
                .summary__wrapper
                    .details__number
                        h2
                            span.grey 04
                        h2 Продукция номер 1
                    .details__info
                        p Задача организации, в особенности же дальнейшее развитие форм деятельности
            p Lorem ipsum dolor sit amet.