footer
    .footer
        .wrapper 
            .footer__wrapper_links
                a(href="#") Политика конфеденциальности
                a(href="#") Юридическая информация
            .footer__wrapper_info
                span KZMK ® 2023
                a(href="#") Cделано в Minto
                