header 
    .header
        .wrapper
            .header-wrapper.desktop
                .logo
                    a(href="/") 
                .menu-nav
                    ul.nav
                            li.nav-item
                                a(href="").nav-link О заводе
                            li.nav-item
                                a(href="").nav-link Продукция
                            li.nav-item
                                a(href="").nav-link Проекты
                            li.nav-item
                                a(href="").nav-link Доставка
                            li.nav-item 
                                a(href="").nav-link Контакты
                .menu__btn#nav-icon2
                    span
                    span
                    span
                    span
                    span
                    span
                .btn.desktop
                        a(href="№") Заказать звонок