.banner#knowledge
    .wrapper
        h1 Знаем 
            span.red как надо
        .img
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
    .btn
        a(href="№") Заказать звонок