.produce
    .wrapper
        h2 Производим 
            span.red металлоконструкции любой сложности. 
            |Мы один из крупнейших заводов Карелии.
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include components/carousel.pug