.projects
    .wrapper
        h3 Наши Проекты
        h2 Проект для промышленной отрасли «Номер 1»
    .projects-js-test
        .projects-wrapper__radiotest
            .flex-flex      
                input#option-1(type='radio' name='select' checked='')
                label.option.option-1(for='option-1')
                        span Проект номер 1
                input#option-2(type='radio' name='select')
                label.option.option-2(for='option-2')
                        span Проект номер 2
                input#option-3(type='radio' name='select')
                label.option.option-3(for='option-3')
                        span Проект номер 3
                input#option-1(type='radio' name='select')
                label.option.option-4(for='option-4')
                        span Проект номер 4
                input#option-5(type='radio' name='select')
                label.option.option-5(for='option-5')
                        span Проект номер 5
                input#option-1(type='radio' name='select')
                label.option.option-2(for='option-2')
                        span Проект номер 2
                input#option-1(type='radio' name='select')
                label.option.option-3(for='option-3')
                        span Проект номер 3
                input#option-1(type='radio' name='select')
                label.option.option-4(for='option-4')
                        span Проект номер 4
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
    include components/carousel-projects.pug
    .wrapper-price       
            span от
            .wrapper-price-full
                .wrapper-price__number
                        span.flex__no-tablet Цена проекта:
                        span.red.big 250
                span.diff млн. рублей
