.banner#projection
    .wrapper
        h1 НАШ ЗАВОД 
            br
            |В 
            span.red 3D ПРОЕКЦИИ
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    .video