.projects
    .wrapper
        h3 Наши Проекты
        h2 Проект для промышленной отрасли «Номер 1»
        .wr-flexbox__nowrap
            input#option-1(type='radio' name='select' checked='')
            input#option-2(type='radio' name='select')
            label.option.option-1(for='option-1')
                span Проект номер 1
            label.option.option-2(for='option-2')
                span Проект номер 2
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
    include components/carousel-projects.pug
    .wrapper-price       
            span от
            .wrapper-price__number
                span Цена проекта:
                span.red.big 250
            span млн. 
                br
                |рублей
