.sectors
    .wrapper
        h3 Наш Завод
        h2 Работаем на промышленные отрасли – камнеобработка, карьеры, сельское хозяйство, деревообработка.
    .wrapper
        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    .img
    .wrapper.wr-flexbox
        p
            span.big.black >
            span.big.red 250
        p.diff Проектов ангаров реализовано за последние пару лет