// main: ../style.less
body {
  padding: 0;
  margin: 0;
  //color: @color;
  //font-family: @main-font;
  font-size: (14 / @mobile * 100vw);
  line-height: (24 / @mobile * 100vw);
  font-weight: normal;
  background: @background;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  //font-family: @header-font;
  //color: @header-color;
  text-align: center;
}

h2 {
  font-size: (32 / @mobile * 100vw);
  line-height: (48 / @mobile * 100vw);
  margin: 0 0 (24 / @mobile * 100vw);
}

p {
  font-size: (16 / @mobile * 100vw);
  line-height: (32 / @mobile * 100vw);
  text-align: center;
}

.wow {
  visibility: hidden;
  opacity: 0;
  transform: translateY(16px);
  &.animated {
    opacity: 1;
    transform: none;
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  }
}

@media (min-width: @tablet) {
  body {
    font-size: (14 / @tablet * 100vw);
    line-height: (24 / @tablet * 100vw);
  }
  h2 {
    font-size: (32 / @tablet * 100vw);
    line-height: (48 / @tablet * 100vw);
    margin: 0 0 (24 / @tablet * 100vw);
  }

  p {
    font-size: (16 / @tablet * 100vw);
    line-height: (32 / @tablet * 100vw);
  }
}

@media (min-width: @desktop) {
  body {
    font-size: (14 / @desktop*100vw);
    line-height: (24 / @desktop*100vw);
  }
  h2 {
    font-size: (48 / @desktop*100vw);
    line-height: (56 / @desktop*100vw);
    margin: 0 0 (24 / @desktop*100vw);
  }

  p {
    font-size: (24 / @desktop*100vw);
    line-height: (40 / @desktop*100vw);
  }
}

@media (min-width: @desktop-xl) {
  body {
    font-size: 28px;
    line-height: 48px;
  }
  h2 {
    font-size: 64px;
    line-height: 96px;
    margin: 0 0 32px;
  }

  p {
    font-size: 28px;
    line-height: 48px;
  }
}
