
.swiffy-slider
  ul.slider-container
    li
        .img__projects
    li
        .img__projects
    li
        .img__projects
    li
        .img__projects
  button.slider-nav(type='button')
  button.slider-nav.slider-nav-next(type='button')
  .slider-indicators
    button.active
    button
    button
