.swiffy-slider.slider-item-nogap
  ul.slider-container
    li
        input#option-1(type='radio' name='select' checked='')
        label.option.option-1(for='option-1')
                span Проект номер 1 sdadasd
    li
        input#option-2(type='radio' name='select')
        label.option.option-2(for='option-2')
                span Проект номер 2
    li
        input#option-3(type='radio' name='select')
        label.option.option-1(for='option-3')
                span Проект номер 3
    li
        input#option-4(type='radio' name='select')
        label.option.option-4(for='option-4')
                span Проект номер 4           
  button.slider-nav(type='button')
  button.slider-nav.slider-nav-next(type='button')
  .slider-indicators
    button.active
    button
    button
