.swiffy-slider
  ul.slider-container
    li
        .card__top
            .img
        .card__bottom
            span Особенность 1
            p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
    li
        .card__top
            .img
        .card__bottom
            span Особенность 2
            p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
    li
        .card__top
            .img
        .card__bottom
            span Особенность 3
            p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров.
  button.slider-nav(type='button')
  button.slider-nav.slider-nav-next(type='button')
  .slider-indicators
    button.active
    button
    button
