article.contacts
    .map
    .wrapper
        h1 Контакты
        .contacts-wrapper
            .contacts-wrapper_2item
                .contacts-item
                    h4 Телефон:
                    p
                        a(href="tel:+7 (999) 456-78-98")|+7 (999) 456-78-98
                .contacts-item
                    h4 Почта:
                    p
                        a(href="mailto:kzmk@mail.ru")|kzmk@mail.ru
            .contacts-wrapper_2item
                .contacts-item
                    h4 Офис:
                    p г. Петрозаводск, Ул. Стачек 1
                .contacts-item
                    h4 Производство:
                    p г. Петрозаводск, Ул. Стачек 1
                            

