- var pageTitle = 'Zavod'

doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name="description" content="Завод Завод Завод" )
        title=pageTitle
        meta(name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5")
    body

        include modules/header

        include modules/banner
        include modules/produce
        include modules/sectors
        include modules/knowledge
        include modules/details
        include modules/projection
        include modules/projects
        include modules/delivery
        include modules/appointment
        include modules/components/contacts
        
                
        
        include modules/footer
    